<p id="notice"><%= notice %></p>

<h1>Bibliotecários</h1>

<table class="table">
  <thead>
    <tr>
      <th>E-mail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @librarians.each do |librarian| %>
      <tr>
        <td><%= librarian.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
