<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a href="/" class="logo">
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Juvenal</b></span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "", destroy_user_session_path, method: :delete, class:"fa fa-caret-square-o-right"%>
        </li>
      </ul>
    </div>
  </nav>
</header>
